body {
    background-color: #333;
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #e0e0e0;
    padding: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

section {
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
}

.artigo1{
    font-family: Arial, sans-serif;
    

}